---
import Docs from '../../layouts/Docs.astro'
import Link from '../../components/Link.astro'

const webstore = 'https://www.baidu.com'
const edgeAddons = 'https://www.baidu.com'
const firefoxAddons = 'https://www.baidu.com'
const appleAppStore = 'https://www.baidu.com'
---

<Docs
	title="Doc Title"
	thumbnail="/documentation/backgrounds/pascal-debrunner-LKOuYT5_dyw-unsplash.jpg"
	lang="en"
>
	<h2 id="donate">XXXXXX</h2>

	<p>
		xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
		<!-- <a href="https://ko-fi.com/bonjourr">regular money</a> or
		<a href="https://commerce.coinbase.com/checkout/095cc203-130d-4e56-9716-3aa10a202d9b"
			>crypto money</a
		>. -->
	</p>
</Docs>
