---
import Docs from '../../layouts/Docs.astro'
import Link from '../../components/Link.astro'
---

<Docs
	title="222 售后指导目录"
	thumbnail="/documentation/backgrounds/pascal-debrunner-LKOuYT5_dyw-unsplash.jpg"
	lang="en"
>
	<h2 id="donate">XXXXXX</h2>

	<p>
		xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
	</p>
</Docs>
