---
import DocsLanding from '../../components/Docs/DocsLanding.astro'
const webstore = '/'
const edgeAddons = '/'
const firefoxAddons = '/'
const appleAppStore = '/'
---

<DocsLanding lang="en">
	<span slot="overview-title">223 Doc Tutorial</span>
	<span slot="contribute-title">223 Video Tutorial</span>
	<span slot="profiles-title">222 Doc Tutorial</span>
	<span slot="styles-title">223 Video Tutorial</span>
	<section slot="docs">
		<h2 id="install-extension">Something writed here</h2>
	</section>
</DocsLanding>
