---
import Layout from '../../layouts/Layout.astro'
import GoodbyeForm from '../../components/Goodbye.astro'
---

<Layout title={`Bonjourr Page`} lang="zh">
	<GoodbyeForm>
		<span slot="title">Merci</span>
		<span slot="desc">
			😊
		</span>

		<span slot="label-message">message</span>
		<span slot="submit"> </span>

		<span slot="sent"> 。。 </span>
		<span slot="back"> .. </span>
	</GoodbyeForm>
</Layout>
