---
import Layout from '../layouts/Layout.astro'
import Frontpage from '../components/Frontpage/Frontpage.astro'
import Landing from '../components/Frontpage/Landing.astro'
import Further from '../components/Frontpage/Further.astro'
import Showcase from '../components/Frontpage/Showcase.astro'
---

<Layout
	lang="en"
	id="frontpage"
	title="DA CHUAN · AUTO INTERIOR"
	ogtitle="DA CHUAN · CAR AUTO PARTS"
	desc="Focus On car interior upgrade."
>
	<Frontpage>
		<Landing slot="landing">
			<span slot="subtitle"
				>The first and only company in China<br />that simultaneously possesses the<br
				/>interior modification of 222 & 223</span
			>
			<span slot="button_more">SEE MORE</span>
			<span slot="other_1"> One-stop · Innovation · International</span>
			<span slot="other">Focus On Car Interior Upgrade</span>
		</Landing>

		<Showcase slot="showcase">
			<span slot="title">W221 Upgrade W222 / W223</span>
			<p slot="desc">
				We offer competitive prices, good quality, high cost-performance ratio. <br /><br
				/><a href="/#further">Please Contact us to Order Your Upgrade！</a>
			</p>

			<span slot="dynamic-title">W221 Upgrade W223</span>
			<p slot="dynamic-desc">
				The Mercedes-Benz W221 series, as a classic car model, can be upgraded to the W223
				series to provide a brand new driving experience and a sense of luxury. The original
				manufacturer offers non-destructive modification to upgrade the W221 to the W223
				interior, with a 1:1 kit, replica original car seats, Linux system dashboard, and
				dual entertainment screen systems.
			</p>

			<span slot="custom-title">W221 Upgrade W222</span>
			<p slot="custom-desc">
				The Mercedes-Benz W221 series, as a classic car model, can be upgraded to the W222
				series to provide a brand new driving experience and a sense of luxury. The original
				manufacturer offers non-destructive modification to upgrade the W221 to the W222
				interior, with a 1:1 kit, replica original car seats, Linux system dashboard, and
				dual entertainment screen systems.
			</p>

			<span slot="more-title">More high-end old car are being upgraded.</span>
		</Showcase>

		<Further slot="further">
			<span slot="title">Contact Us</span>
			<span slot="docs-title">Business Cooperation</span>
			<span slot="docs-desc">
				Call and Order<br />
				Tel : 18563088888<br />
				Tel : 18520921289
			</span>
			<span slot="contact_business">Enter E-commerce Web</span>

			<span slot="repo-title">After Sales System</span>
			<span slot="repo-desc">
				1 . Search the Solutions<br />
				2 . Submit Post-Sale Issues<br />
				3 . Customer Service
			</span>
			<span slot="repo-button">Enter System</span>
		</Further>

		<h2 slot="global-title">Be International, E-commerce</h2>
		<p slot="global-text">
			Learn More Details, Go to website : <a href="https://www.dcautointerior.com"
				>www.dcautointerior.com</a
			>
		</p>
	</Frontpage>
</Layout>

<style>
	a:link {
		color: orange;
	}
	a:hover {
		color: green;
	}
	a {
		color: blue;
		text-decoration: none;
	}
	a:visited {
		color: orange;
	}
	a:hover {
		color: green;
	}
	a:active {
		color: green;
	}
</style>
