---
import DocsLanding from '../../../components/Docs/DocsLanding.astro'
const webstore = 'https://www.baidu.com'
const edgeAddons = 'https://www.baidu.com'
const firefoxAddons = 'https://www.baidu.com'
const appleAppStore = 'https://www.baidu.com'
---

<DocsLanding lang="zh">
	<span slot="overview-title">223 图文指导</span>
	<span slot="contribute-title">223 视频指导</span>
	<span slot="profiles-title">222 图文指导</span>
	<span slot="styles-title">222 视频指导</span>
	<section slot="docs">
		<h2 id="install-extension">这里可以写点什么</h2>
	</section>
</DocsLanding>
